@font-face {
  font-family: "font_family"; /* Project id 1183688 */
  src: url('iconfont.woff2?t=1620982378801') format('woff2'),
       url('iconfont.woff?t=1620982378801') format('woff'),
       url('iconfont.ttf?t=1620982378801') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-icon-visual-unpublish:before {
  content: "\e6fb";
}

.layout-icon-mark-read:before {
  content: "\e6f9";
}

.layout-icon-mark-unread:before {
  content: "\e6fa";
}

.layout-icon-visual-copy:before {
  content: "\e6f6";
}

.layout-icon-visual-new:before {
  content: "\e6f7";
}

.layout-icon-visual-delete:before {
  content: "\e6f8";
}

.layout-icon-email-management:before {
  content: "\e6f5";
}

.layout-icon-internet-warning:before {
  content: "\e6f1";
}

.layout-icon-internet-error:before {
  content: "\e6f2";
}

.layout-icon-internet-success:before {
  content: "\e6f3";
}

.layout-icon-internet-info:before {
  content: "\e6f4";
}

.layout-icon-visual-show:before {
  content: "\e6ed";
}

.layout-icon-visual-unlock:before {
  content: "\e6ee";
}

.layout-icon-visual-hide:before {
  content: "\e6ef";
}

.layout-icon-visual-lock:before {
  content: "\e6f0";
}

.layout-icon-visual-top:before {
  content: "\e6e9";
}

.layout-icon-visual-combination:before {
  content: "\e6ea";
}

.layout-icon-visual-dispersed:before {
  content: "\e6eb";
}

.layout-icon-visual-bottom:before {
  content: "\e6ec";
}

.layout-icon-visual-echart:before {
  content: "\e6de";
}

.layout-icon-visual-component:before {
  content: "\e6df";
}

.layout-icon-visual-font:before {
  content: "\e6e0";
}

.layout-icon-visual-collect:before {
  content: "\e6e1";
}

.layout-icon-visual-other:before {
  content: "\e6e2";
}

.layout-icon-visual--map:before {
  content: "\e6e3";
}

.layout-icon-visual-preserve:before {
  content: "\e6e4";
}

.layout-icon-visual-index:before {
  content: "\e6e5";
}

.layout-icon-visual-interact:before {
  content: "\e6e6";
}

.layout-icon-visual-publish:before {
  content: "\e6e7";
}

.layout-icon-visual-preview:before {
  content: "\e6e8";
}

.layout-icon-workflow-backline2:before {
  content: "\e6dc";
}

.layout-icon-workflow-backline1:before {
  content: "\e6dd";
}

.layout-icon-dchy_testing:before {
  content: "\e6d5";
}

.layout-icon-dchy_record:before {
  content: "\e6d6";
}

.layout-icon-dchy_empower:before {
  content: "\e6d7";
}

.layout-icon-dchy_examine:before {
  content: "\e6d8";
}

.layout-icon-dchy_publish:before {
  content: "\e6d9";
}

.layout-icon-dchy_upload:before {
  content: "\e6da";
}

.layout-icon-dchy_evaluate:before {
  content: "\e6db";
}

.layout-icon-app-descending:before {
  content: "\e6d3";
}

.layout-icon-app-ascending:before {
  content: "\e6d4";
}

.layout-icon-ban:before {
  content: "\e6d2";
}

.layout-icon-app-process:before {
  content: "\e6d1";
}

.layout-icon-app-draft:before {
  content: "\e6d0";
}

.layout-icon-app-transfer:before {
  content: "\e6cf";
}

.layout-icon-app-save:before {
  content: "\e6c9";
}

.layout-icon-app-circulation:before {
  content: "\e6ca";
}

.layout-icon-app-forward:before {
  content: "\e6cb";
}

.layout-icon-app-download:before {
  content: "\e6cc";
}

.layout-icon-app-send:before {
  content: "\e6cd";
}

.layout-icon-app-sign:before {
  content: "\e6ce";
}

.layout-icon-tip-waiting:before {
  content: "\e6c7";
}

.layout-icon-tip-loading:before {
  content: "\e6c8";
}

.layout-icon-block:before {
  content: "\e6c6";
}

.layout-icon-tree:before {
  content: "\e6c5";
}

.layout-icon-enclosure:before {
  content: "\e6c0";
}

.layout-icon-unread-mail:before {
  content: "\e6c1";
}

.layout-icon-write-mail:before {
  content: "\e6c2";
}

.layout-icon-read-mail:before {
  content: "\e6c3";
}

.layout-icon-directories:before {
  content: "\e6c4";
}

.layout-icon-topping:before {
  content: "\e6be";
}

.layout-icon-shopping:before {
  content: "\e6bf";
}

.layout-icon-analysis:before {
  content: "\e6bc";
}

.layout-icon-data:before {
  content: "\e6bd";
}

.layout-icon-tools:before {
  content: "\e6b8";
}

.layout-icon-analyse:before {
  content: "\e6b9";
}

.layout-icon-legend:before {
  content: "\e6ba";
}

.layout-icon-whole:before {
  content: "\e6bb";
}

.layout-icon-subdirectory:before {
  content: "\e6b7";
}

.layout-icon-list:before {
  content: "\e6b3";
}

.layout-icon-card:before {
  content: "\e6b4";
}

.layout-icon-sort:before {
  content: "\e6b5";
}

.layout-icon-empty:before {
  content: "\e6b6";
}

.layout-icon-verification:before {
  content: "\e6b2";
}

.layout-icon-time:before {
  content: "\e6b0";
}

.layout-icon-ongoing:before {
  content: "\e6b1";
}

.layout-icon-retract-foldable:before {
  content: "\e6ae";
}

.layout-icon-spread-foldable:before {
  content: "\e6af";
}

.layout-icon-tip-warning:before {
  content: "\e6ad";
}

.layout-icon-clickselect:before {
  content: "\e6ab";
}

.layout-icon-uploadmap:before {
  content: "\e6ac";
}

.layout-icon-file-img:before {
  content: "\e6aa";
}

.layout-icon-system-space:before {
  content: "\e6a7";
}

.layout-icon-system-estate:before {
  content: "\e6a8";
}

.layout-icon-system-map:before {
  content: "\e6a9";
}

.layout-icon-file-ppt:before {
  content: "\e6a1";
}

.layout-icon-file-rar:before {
  content: "\e6a2";
}

.layout-icon-file-txt:before {
  content: "\e6a3";
}

.layout-icon-file-xslx:before {
  content: "\e6a4";
}

.layout-icon-file-pdf:before {
  content: "\e6a5";
}

.layout-icon-file-word:before {
  content: "\e6a6";
}

.layout-icon-rule-scene-group:before {
  content: "\e69e";
}

.layout-icon-rule-resource-group:before {
  content: "\e69f";
}

.layout-icon-rule-resource-set:before {
  content: "\e6a0";
}

.layout-icon-workflow-router:before {
  content: "\e69d";
}

.layout-icon-check:before {
  content: "\e69c";
}

.layout-icon-rule-moveup:before {
  content: "\e696";
}

.layout-icon-rule-movedowm:before {
  content: "\e697";
}

.layout-icon-rule-resource:before {
  content: "\e698";
}

.layout-icon-rule-set:before {
  content: "\e699";
}

.layout-icon-rule-system:before {
  content: "\e69a";
}

.layout-icon-rule-scene:before {
  content: "\e69b";
}

.layout-icon-operate:before {
  content: "\e693";
}

.layout-icon-system-hide:before {
  content: "\e694";
}

.layout-icon-location:before {
  content: "\e695";
}

.layout-icon-chosen:before {
  content: "\e692";
}

.layout-icon-template:before {
  content: "\e68e";
}

.layout-icon-add:before {
  content: "\e68f";
}

.layout-icon-Import:before {
  content: "\e690";
}

.layout-icon-overview:before {
  content: "\e691";
}

.layout-icon-home:before {
  content: "\e68d";
}

.layout-icon-rule:before {
  content: "\e68c";
}

.layout-icon-phone:before {
  content: "\e68b";
}

.layout-icon-tip-being:before {
  content: "\e688";
}

.layout-icon-tip-fail:before {
  content: "\e689";
}

.layout-icon-tip-being1:before {
  content: "\e68a";
}

.layout-icon-invoice:before {
  content: "\e687";
}

.layout-icon-edit:before {
  content: "\e685";
}

.layout-icon-table:before {
  content: "\e686";
}

.layout-icon-large-tag:before {
  content: "\e679";
}

.layout-icon-large-tag1:before {
  content: "\e67a";
}

.layout-icon-middle-tag:before {
  content: "\e67b";
}

.layout-icon-large-tag2:before {
  content: "\e67c";
}

.layout-icon-middle-tag1:before {
  content: "\e67d";
}

.layout-icon-middle-tag2:before {
  content: "\e67e";
}

.layout-icon-middle-tag3:before {
  content: "\e67f";
}

.layout-icon-small-tag:before {
  content: "\e680";
}

.layout-icon-small-tag1:before {
  content: "\e681";
}

.layout-icon-small-tag2:before {
  content: "\e682";
}

.layout-icon-small-tag3:before {
  content: "\e683";
}

.layout-icon-large-tag3:before {
  content: "\e684";
}

.layout-icon-notice:before {
  content: "\e677";
}

.layout-icon-code:before {
  content: "\e678";
}

.layout-icon-nav1:before {
  content: "\e676";
}

.layout-icon-font_reduce:before {
  content: "\e664";
}

.layout-icon-font_enlarge:before {
  content: "\e673";
}

.layout-icon-font_size:before {
  content: "\e674";
}

.layout-icon-font_type:before {
  content: "\e675";
}

.layout-icon-nav_module_management:before {
  content: "\e667";
}

.layout-icon-nav_box:before {
  content: "\e668";
}

.layout-icon-nav_data:before {
  content: "\e669";
}

.layout-icon-nav_category:before {
  content: "\e66a";
}

.layout-icon-nav_role_authorization:before {
  content: "\e66b";
}

.layout-icon-nav_statistics:before {
  content: "\e66c";
}

.layout-icon-nav_box1:before {
  content: "\e66d";
}

.layout-icon-nav_globalquery:before {
  content: "\e66e";
}

.layout-icon-nav_role_management:before {
  content: "\e66f";
}

.layout-icon-nav_configure:before {
  content: "\e670";
}

.layout-icon-nav_department_authorization:before {
  content: "\e671";
}

.layout-icon-nav_vacation:before {
  content: "\e672";
}

.layout-icon-user1:before {
  content: "\e665";
}

.layout-icon-department1:before {
  content: "\e666";
}

.layout-icon-back:before {
  content: "\e662";
}

.layout-icon-next:before {
  content: "\e663";
}

.layout-icon-issue:before {
  content: "\e661";
}

.layout-icon-tip-error:before {
  content: "\e65d";
}

.layout-icon-tip-success:before {
  content: "\e65e";
}

.layout-icon-delete:before {
  content: "\e65f";
}

.layout-icon-tip-message:before {
  content: "\e660";
}

.layout-icon-reduce:before {
  content: "\e659";
}

.layout-icon-enlarge:before {
  content: "\e65c";
}

.layout-icon-workflow-curveup:before {
  content: "\e643";
}

.layout-icon-preview:before {
  content: "\e644";
}

.layout-icon-download:before {
  content: "\e657";
}

.layout-icon-workflow-curvedown:before {
  content: "\e658";
}

.layout-icon-print:before {
  content: "\e65a";
}

.layout-icon-upload:before {
  content: "\e65b";
}

.layout-icon-tool:before {
  content: "\e656";
}

.layout-icon-workflow-straight:before {
  content: "\e655";
}

.layout-icon-procedure:before {
  content: "\e654";
}

.layout-icon-workflow-and:before {
  content: "\e63d";
}

.layout-icon-workflow-and-poly:before {
  content: "\e653";
}

.layout-icon-expire-user:before {
  content: "\e652";
}

.layout-icon-module2:before {
  content: "\e64f";
}

.layout-icon-tool2:before {
  content: "\e650";
}

.layout-icon-tool1:before {
  content: "\e651";
}

.layout-icon-workflow-xor:before {
  content: "\e639";
}

.layout-icon-workflow-end:before {
  content: "\e63a";
}

.layout-icon-workflow-disc:before {
  content: "\e63b";
}

.layout-icon-workflow-rad:before {
  content: "\e63c";
}

.layout-icon-workflow-or:before {
  content: "\e63e";
}

.layout-icon-workflow-task:before {
  content: "\e63f";
}

.layout-icon-workflow-Interactive:before {
  content: "\e640";
}

.layout-icon-workflow-disc-poly:before {
  content: "\e641";
}

.layout-icon-workflow-start:before {
  content: "\e642";
}

.layout-icon-multiselect:before {
  content: "\e64d";
}

.layout-icon-save:before {
  content: "\e64e";
}

.layout-icon-vertical-distribution:before {
  content: "\e649";
}

.layout-icon-vertical-center:before {
  content: "\e64a";
}

.layout-icon-horizontal-distribution:before {
  content: "\e64b";
}

.layout-icon-horizontal-center:before {
  content: "\e64c";
}

.layout-icon-align-right:before {
  content: "\e645";
}

.layout-icon-align-top:before {
  content: "\e646";
}

.layout-icon-align-bottom:before {
  content: "\e647";
}

.layout-icon-align-left:before {
  content: "\e648";
}

.layout-icon-catalog:before {
  content: "\e62c";
}

.layout-icon-authority:before {
  content: "\e637";
}

.layout-icon-treeopen1:before {
  content: "\e633";
}

.layout-icon-treeclose1:before {
  content: "\e634";
}

.layout-icon-treeclose2:before {
  content: "\e635";
}

.layout-icon-treeopen2:before {
  content: "\e636";
}

.layout-icon-toobar:before {
  content: "\e632";
}

.layout-icon-treeclose:before {
  content: "\e630";
}

.layout-icon-treeopen:before {
  content: "\e631";
}

.layout-icon-user:before {
  content: "\e62e";
}

.layout-icon-role:before {
  content: "\e62f";
}

.layout-icon-module:before {
  content: "\e628";
}

.layout-icon-module1:before {
  content: "\e629";
}

.layout-icon-system:before {
  content: "\e62a";
}

.layout-icon-department:before {
  content: "\e62b";
}

.layout-icon-configure:before {
  content: "\e62d";
}

.layout-icon-retract-sidebar:before {
  content: "\e626";
}

.layout-icon-spread-sidebar:before {
  content: "\e627";
}

.layout-icon-search:before {
  content: "\e625";
}

.layout-icon-right:before {
  content: "\e61d";
}

.layout-icon-nav:before {
  content: "\e61e";
}

.layout-icon-draw-back:before {
  content: "\e61f";
}

.layout-icon-left:before {
  content: "\e620";
}

.layout-icon-pop-up:before {
  content: "\e621";
}

.layout-icon-close:before {
  content: "\e622";
}

.layout-icon-pulldown:before {
  content: "\e623";
}

.layout-icon-pullup:before {
  content: "\e624";
}

.layout-icon-collect:before {
  content: "\e61b";
}

.layout-icon-menu:before {
  content: "\e61c";
}

.layout-icon-refresh:before {
  content: "\e618";
}

.layout-icon-unfold:before {
  content: "\e619";
}

.layout-icon-fold:before {
  content: "\e61a";
}

.layout-icon-down:before {
  content: "\e60c";
}

.layout-icon-note:before {
  content: "\e60d";
}

.layout-icon-key:before {
  content: "\e60e";
}

.layout-icon-admin:before {
  content: "\e60f";
}

.layout-icon-news:before {
  content: "\e610";
}

.layout-icon-question:before {
  content: "\e611";
}

.layout-icon-personal:before {
  content: "\e612";
}

.layout-icon-password:before {
  content: "\e613";
}

.layout-icon-set:before {
  content: "\e614";
}

.layout-icon-quit:before {
  content: "\e615";
}

.layout-icon-theme:before {
  content: "\e616";
}

.layout-icon-up:before {
  content: "\e617";
}

.layout-icon-open-folder1:before {
  content: "\e603";
}

.layout-icon-close-folder1:before {
  content: "\e604";
}

.layout-icon-file1:before {
  content: "\e605";
}

.layout-icon-file2:before {
  content: "\e606";
}

.layout-icon-open-folder2:before {
  content: "\e607";
}

.layout-icon-file3:before {
  content: "\e608";
}

.layout-icon-close-folder2:before {
  content: "\e609";
}

.layout-icon-open-folder3:before {
  content: "\e60a";
}

.layout-icon-close-folder3:before {
  content: "\e60b";
}

